<footer>
  <ul>
    <ul>
      <li class="active"><a href="/homy">homy</a></li>
      <li><a href="/homy/create">add</a></li>
      <li><a href="/about">about</a></li>
    </ul>
  </ul>
</footer>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var currentLocation = window.location.pathname;

    document.querySelectorAll("footer ul li a").forEach(function (link) {
      if (link.getAttribute("href") === currentLocation) {
        link.parentNode.classList.add("active");
      } else {
        // Remove the 'active' class from the parent li element
        link.parentNode.classList.remove("active");
      }
    });
  });
</script>
