<footer>
  Copyright &copy; Yacine-2022
  <a className="instagram" href="https://www.instagram.com/ya_ci18ne/">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a className="twitter" href="https://twitter.com/BouzianeYouce16">
    <i class="fa-brands fa-twitter"></i>
  </a>

  <a
    className="facebook"
    href="https://web.facebook.com/profile.php?id=100072563502004"
  >
    <i class="fa-brands fa-facebook"></i>
  </a>
  <a className="github" href="https://github.com/yacine2005b">
    <i class="fa-brands fa-github"></i>
  </a>
</footer>
