<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yacine | <%= title %></title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      max-width: 1100px;
      height: 100vh;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 0 3rem;
    }
    a {
      text-decoration: none;
      color: black;
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 2px solid grey;
      margin-bottom: 2rem;
    }
    nav ul {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: space-between;
      list-style: none;
      font-size: 1.1rem;
    }
    nav ul li {
      margin-left: 4rem;
    }
    nav ul li a {
      text-decoration: none;
      color: hsl(0, 1%, 31%);
      padding-bottom: 3px;
      text-transform: uppercase;
    }
    nav ul li a:hover {
      color: blue;
      border-bottom: 2px solid blue;
    }

    .logo {
      font-size: 1.5rem;
      cursor: pointer;
    }
    .logo a {
      text-decoration: none;
      color: black;
    }
    .content {
      display: flex;
      gap: 30px;
    }
    .about {
      width: 350px;
      text-align: center;
      margin: 0 auto;
      padding: 1rem;
      border: 2px dashed blue;
      border-radius: 15px;
    }
    h1 {
      padding: 1rem;
      margin-bottom: 1.75rem;
    }
    footer {
      position: absolute;
      top: 90%;
    }
    .create-blog form {
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    textarea {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog input,
    textarea:focus {
      outline-color: blue;
    }
    .create-blog label {
      display: block;
      margin-top: 24px;
      font-weight: 600;
      font-size: 20px;
      color: hsl(0, 1%, 31%);
    }
    textarea {
      height: 120px;
    }
    .create-blog button {
      width: 100%;
      background-color: blue;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: 8px 0;
      outline: none;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.25s ease;
    }
    .create-blog button:hover {
      background: white;
      color: blue;
      border: 2px solid black;
    }
    .details {
      position: relative;
    }
    .details h2 {
      margin-bottom: 3rem;
    }
    .delete {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 20%;
      padding: 8px;
      text-transform: uppercase;
    }
    .delete:hover {
      cursor: pointer;
      background-color: rgb(171, 32, 32);
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>
