<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Yacine | <%= title %></title>
  <style>
    :root {
      --blue: #031d44;
      --light-blue: #48cae4;
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: var(--blue);
    }
    body {
      max-width: 1100px;
      height: 100vh;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 0 3rem;
    }
    a {
      text-decoration: none;
      color: var(--blue);
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 2px solid var(--blue);
      margin-bottom: 2rem;
      padding: 1rem;
    }
    nav ul {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: space-between;
      list-style: none;
      font-size: 1.1rem;
    }
    nav ul li {
      margin-left: 4rem;
    }
    nav ul li a {
      text-decoration: none;
      color: var(--blue);
      padding-bottom: 3px;
      text-transform: uppercase;
      font-weight: 700;
    }
    li.active a {
      color: var(--light-blue);
    }

    nav ul li a:hover {
      color: var(--light-blue);
    }

    .logo {
      font-size: 1.5rem;
      cursor: pointer;
    }
    .logo a {
      text-decoration: none;
      color: #133c55;
    }
    .content {
      display: flex;
      gap: 30px;
    }
    .about {
      width: 70%;
      text-align: center;
      margin: 0 auto;
      padding: 2rem;
      border: 2px dashed var(--blue);
      border-radius: 15px;
      margin-bottom: 1.25rem;
    }

    footer {
      display: flex;
      justify-content: space-between;

      bottom: 0;
      width: 100%;
      padding: 7px;
    }
    .create-blog form {
      max-width: 400px;
      margin: 0 auto;
    }
    .contentBlogs {
      display: flex;
      flex-wrap: wrap;
    }

    .blogs {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 1rem;
      padding: 0.6rem;
    }
    .blogs:hover {
      border: #48cae4 dashed 2px;
    }

    .blogs .titleDetails {
      margin-bottom: 1rem;
      text-justify: center;
    }
    .create-blog input,
    textarea {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog input,
    textarea:focus {
      outline-color: var(--light-blue);
    }
    .create-blog label {
      display: block;
      margin-top: 24px;
      font-weight: 600;
      font-size: 20px;
      color: var(--blue);
    }
    textarea {
      height: 120px;
    }
    .create-blog button {
      width: 100%;
      background-color: var(--blue);
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: 8px 0;
      outline: none;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.25s ease;
    }
    .create-blog button:hover {
      background: white;
      color: var(--blue);
      border: 2px solid var(--blue);
    }
    .details {
      width: 350px;
      border: 3px dashed var(--blue);
      margin: 0 auto;
      margin-bottom: 18rem;
      padding: 20px;
    }
    .titleDetails {
      display: flex;
      justify-content: space-between;
    }
    .details p {
      text-align: center;
    }
    .details .titleDetails {
      margin-bottom: 3rem;
    }
    .delete {
      border-radius: 4%;
      cursor: pointer;
      padding: 4px 6px;
      text-align: center;
      border-radius: 100%;
      text-transform: uppercase;
    }
    .delete:hover {
      background-color: red;
    }
    .delete img {
      margin: auto;
    }
  </style>
</head>
