<nav>
  <div class="logo">
    <a href="/blogs"><h1>YACINE</h1></a>
  </div>
  <ul>
    <li><a href="/about">about</a></li>
    <li><a href="/blogs/create">new blog</a></li>
    <li class="active"><a href="/blogs">home</a></li>
  </ul>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var currentLocation = window.location.pathname;

    document.querySelectorAll("nav ul li a").forEach(function (link) {
      if (link.getAttribute("href") === currentLocation) {
        link.parentNode.classList.add("active");
      } else {
        // Remove the 'active' class from the parent li element
        link.parentNode.classList.remove("active");
      }
    });
  });
</script>
