<nav>
  <div class="logo">
    <a href="/blogs"><h1>YACINE</h1></a>
  </div>
  <ul>
    <li><a href="/about">about</a></li>
    <li><a href="/blog/create">new blog</a></li>
    <li><a href="/">home</a></li>
  </ul>
</nav>
