<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navBar.ejs') %>
    <div class="about">
      <h1>THIS THIS ABOUT PAGE</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti
        saepe rerum quasi molestias doloremque nemo. Voluptate corrupti et
        cupiditate iste nobis reprehenderit vel a, sit in, est reiciendis
        expedita.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
