<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navBar.ejs') %> 
    <div class="about">
      <h1>ABOUT ME</h1>
      <p>
        Yacine Bouziane is an 18-year-old aspiring computer scientist with a
        passion for technology and innovation. Currently pursuing a degree in
        Computer Science, Yacine is on a journey to explore the vast world of
        programming, software development, and cutting-edge technologies. With a
        strong foundation in computer science principles and a thirst for
        knowledge, Yacine is constantly seeking new challenges and opportunities
        to expand their skills. Whether it's coding in different programming
        languages, tackling complex algorithms, or building innovative projects,
        Yacine's enthusiasm for the field knows no bounds. In addition to their
        academic pursuits, Yacine actively engages in coding communities and
        open-source projects, collaborating with like-minded individuals to
        solve real-world problems and contribute to the tech ecosystem. Yacine
        believes that the future of technology lies in the hands of those who
        are willing to think outside the box and push the boundaries of what's
        possible. Outside of the digital realm, Yacine is also a dedicated
        football enthusiast. When not immersed in lines of code, you can find
        them on the football field, showcasing their agility and teamwork.
        Football provides a balance to their tech-focused life, allowing them to
        stay physically active and enjoy the camaraderie of team sports.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
