<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navBar.ejs') %>
    <div class="about">
      <h1>ABOUT US</h1>
      <p>
        Welcome to HOMY, the perfect spot for tasty meals, cozy vibes, and
        pocket-friendly prices! At HOMY, we've got something for everyone –
        yummy food, warm drinks, and a chill atmosphere. Step into our comfy
        place with cool decorations and enjoy a relaxed setting. Whether you're
        hungry, want a nice cup of coffee, or fancy a soothing tea, HOMY's got
        your back. Our prices won't make you think twice about treating
        yourself. Grab a delicious coffee or sip on a relaxing tea without
        stressing about the cost. Join us at HOMY, where good food, friendly
        prices, and a chill atmosphere come together. It's not just a place to
        eat; it's a place to feel at home. See you soon!
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
