<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navBar.ejs') %>
    <div class="create-blog">
      <form action="/homy" method="post">
        <label for="expenses">EXPENSES</label>
        <input type="text" id="expenses" name="expenses" required />
        <label for="sales">SALES</label>
        <input type="text" id="sales" name="sales" required />

        <button type="submit">submit</button>
    </div>
    <%- include('./partials/footer.ejs') %>
   
  </body>
</html>
