<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <form class="form">
        <p class="title">Sign Up</p>
        <input
          placeholder="Email"
          class="username input"
          type="text"
          name="email"
          required
        />
        <div>
          <div class="error email"><i class="fa-solid fa-exclamation"></i></div>
        </div>

        <input
          placeholder="Password"
          class="password input"
          type="password"
          name="password"
          required
        />
        <div class="error passwrd"><i class="fa-solid fa-exclamation"></i></div>
        <button class="btn" type="submit">sign Up</button>
      </form>
    </div>
  </body>
  <script>
    const form = document.querySelector("form");
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const email = form.email.value;
      const password = form.password.value;
      const emailError = document.querySelector(".error.email");
      const passwordError = document.querySelector(".error.passwrd");
      emailError.innerHTML = "";
      passwordError.innerHTML = "";
      try {
        const res = await fetch("/homy/signUp", {
          method: "POST",
          body: JSON.stringify({ email, password }),
          headers: { "content-type": "application/json" },
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.innerHTML += data.errors.email;
          passwordError.innerHTML += data.errors.password;
          emailError.style.display = "block";
          passwordError.style.display = "block";
        }
        if (data.user) {
          location.assign("/");
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</html>
